<% @page_title = "トップページ" %>
<h1><%= @page_title %></h1>

<!--フライト検索フォーム-->
<%= render "shared/flights_search_form" %>

<p>
  欠航情報<br>
  他言語切り替え<br>
  <br>
  <%= render "shared/customer_login_form" unless current_customer %>
</p>
