<% @page_title = "トップページ" %>
<h1>トップ画面</h1>
<%= link_to "フライト一覧(仮)", :flights %><br>

<!--フライト検索フォーム-->
<%= render "shared/flights_search_form" %>

<p>
  欠航情報<br>
  他言語切り替え<br>
  <br>
  <%= render "shared/customer_login_form" unless current_customer %>
  <%= link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" } if current_customer %>
</p>
