/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ページ全体 */
body {
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 0;
}

/* リンク */
a:link {
    color: #00c;
}

a:visited {
    color: #00c;
}

a:hover {
    color: #f00;
}

a img {
    border: none;
}

/* ブロック要素 */
p, h1, h2, h3, table, ul {
    margin: 0 0 1em;
}

/* ナビゲーション */
nav ul,
ul.toolbar,
ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li,
div.toolbar li,
ul.toolbar li,
ul.links li {
    display: inline;
}

/* 全体の枠 */
div#container {
    margin: 0 auto;
    padding-top: 5px;
    width: 780px;
}

main {
    padding: 25px 10px 10px 0;
}

/* ヘッダー */
header {
    border-top: 4px solid rgba(124, 212, 234, 0.73);
    padding-top: 4px;
}

ul.account-menu {
    text-align: right;
}

/* フッター */
footer {
    clear: both;
    font: 11px Verdana;
    color: #888;
    padding: 8px 0;
    border-top: 4px solid rgba(124, 212, 234, 0.73);
    text-align: center;
}

footer nav ul li:not(:last-child):after {
    color: #888;
    content: " | ";
    margin: 0 5px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* メインコンテンツ */
main h1 {
    color: #88c;
    font-weight: normal;
    font-size: 150%;
    border-bottom: 2px solid #88c;
    margin-bottom: 0.5em;
}

main h2 {
    color: #99d;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ccf;
}

main p {
    font-size: 90%;
    line-height: 1.5;
}

ul.toolbar,
div.toolbar {
    padding: 15px 0;
    font-size: 90%;
    text-align: right;
}

ul.toolbar li:not(:last-child):after {
    color: #888;
    content: " | ";
    margin: 0 2px;
}


/*タブ*/
.tabs {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.tab-title {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
}

.tab-title:hover {
    background-color: #ddd;
}

.tabs input[type="radio"] {
    display: none;
}

.tab-content section {
    display: none;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 8px 8px;
}

#tab1:checked ~ .tab-content #content1,
#tab2:checked ~ .tab-content #content2,
#tab3:checked ~ .tab-content #content3 {
    display: block;
}

#tab1:checked + label[for="tab1"],
#tab2:checked + label[for="tab2"],
#tab3:checked + label[for="tab3"] {
    background-color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}
