.tabs {
    /*border-radius: 8px;*/
}

.tab-title {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f6f6f6;
    transition: background-color 0.3s ease-in-out;
    border-radius: 8px 8px 0 0;
}

.tab-title:hover {
    background-color: #ddd;
}

.tabs input[type="radio"] {
    display: none;
}

.tab-content section {
    display: none;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 8px 8px;
}

#future-tab:checked ~ .tab-content #future-content,
#past-tab:checked ~ .tab-content #past-content {
    display: block;
}

#future-tab:checked + .tabs-titles label[for="future-tab"],
#past-tab:checked + .tabs-titles label[for="past-tab"] {
    background-color: white;
    font-weight: bold;
}
