/* 表 : 一覧表示、詳細表示 */
table.list, table.attr {
    font-size: 90%;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table.list th, table.attr th {
    background-color: #4a6eb4;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #333;
}

table.list td, table.attr td {
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table.list th {
    text-align: left;
}

table.attr th {
    text-align: right;
}
