<% @page_title = "アカウントの新規作成" %>
<h1><%= @page_title %></h1>

<%= form_for @customer, as: "account", url: :account do |form| %>
  <%= render "shared/customer_form", form: form %>
  <div><%= form.submit %></div>
<% end %>
